/* Theme from designer */
/*a:hover {
  text-decoration: none;
}*/


.image-container{
	height:600px;
}

.image-container img {
	max-width:100%;
	max-height:auto;
}

/* tabs view design specs */
.nav-tabs{
	border-bottom: 1px solid transparent;
}

.nav-tabs > li > a {
	border-radius:0px;
	background-color: transparent;
	border-bottom: transparent;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	background-color: transparent;
	border-bottom: transparent;
}

.Identity-tabs > li > a{
	color: #1a90a0;
	margin-right: -1px;
	border-bottom: 1px solid #1a90a0;
}
.Identity-tabs > li.active > a, 
.Identity-tabs > li.active > a:hover, 
.Identity-tabs > li.active > a:focus {
	color: #1a90a0;
	border: 1px solid #1a90a0;
	border-bottom: transparent;
}

.Building-tabs > li > a{
	color: #17e1e5;
	margin-right: -1px;
	border-bottom: 1px solid #17e1e5;
}
.Building-tabs > li.active > a, 
.Building-tabs > li.active > a:hover, 
.Building-tabs > li.active > a:focus {
	color: #17e1e5;
	border: 1px solid #17e1e5;
	border-bottom: transparent;
}

.Growth-tabs > li > a{
	color: #1261af;
	margin-right: -1px;
	border-bottom: 1px solid #1261af;
}
.Growth-tabs > li.active > a, 
.Growth-tabs > li.active > a:hover, 
.Growth-tabs > li.active > a:focus {
	color: #1261af;
	border: 1px solid #1261af;
	border-bottom: transparent;
}

.Research-tabs > li > a{
	color: #33cc33;
	margin-right: -1px;
	border-bottom: 1px solid #33cc33;
}
.Research-tabs > li.active > a, 
.Research-tabs > li.active > a:hover, 
.Research-tabs > li.active > a:focus {
	color: #33cc33;
	border: 1px solid #33cc33;
	border-bottom: transparent;
}

.Education-tabs > li > a{
	color: #669900;
	margin-right: -1px;
	border-bottom: 1px solid #669900;
}
.Education-tabs > li.active > a, 
.Education-tabs > li.active > a:hover, 
.Education-tabs > li.active > a:focus {
	color: #669900;
	border: 1px solid #669900;
	border-bottom: transparent;
}

.Effect-tabs > li > a{
	color: #666600;
	margin-right: -1px;
	border-bottom: 1px solid #666600;
}
.Effect-tabs > li.active > a, 
.Effect-tabs > li.active > a:hover, 
.Effect-tabs > li.active > a:focus {
	color: #666600;
	border: 1px solid #666600;
	border-bottom: transparent;
}

.Intersections-tabs > li > a{
	color: #3366ff;
	margin-right: -1px;
    border-bottom: 1px solid #3366ff;
}
.Intersections-tabs > li.active > a, 
.Intersections-tabs > li.active > a:hover, 
.Intersections-tabs > li.active > a:focus {
	color: #3366ff;
	border: 1px solid #3366ff;
	border-bottom: transparent;
}

/* tab nav theme end */
.list-group-item {
			background-color: transparent;
			border-color: #009688;
		}
		.sub-theme-nav-item{
			/*padding: 7px;	*/	    
		}
		.sub-theme-nav-item img {
			margin: 0 auto;
			background: transparent;
			border:none;
			height: auto;
			width: 100%;
			max-width: 135px;
		}
		.panel-ncbs-foot{
			background-color: #cbb534;
			width:150px;
			height:130px;
		}
		#ncbs-nav-footer .panel {
			border-radius: 0px;
			margin:4px;
		}
		
		#ncbs-nav-footer {
			background-color: #f4f3e9;
			color:#333726;
		}
		#ncbs-nav-footer a:hover .ncbs-foot-nav-text{
			
				background-color: #333726;
				color: #fffebf;
				text-decoration:none;
		}
		#ncbs-nav-footer a:focus .ncbs-foot-nav-text{
			
				background-color: #333726;
				color: #fffebf;
				text-decoration:none;
		}
		.ncbs-foot-nav-text {
			background-color: #cbb534;
			    margin-left: 4px;
			    margin-right: 4px;
			    margin-top: -4px;
			    color: #333726;
			    font-size: 15px;
			    font-family: roboto;
			    font-weight:bold;
			    width:150px;
		}

		.ncbs-home-text{
			background-color:rgba(102, 102, 102, 0.2); 
			position:fixed; 
			top:13px; 
			max-width: 375px; 
			font-size: 16px; 
			line-height: 19px; 
			font-family: roboto;
			color: #f2f2f2;
			padding:15px; 
			border-radius:0px; 
			/*margin-left:45px;*/
			-webkit-transition: display 0.5s ease;
			-moz-transition: display 0.5s ease;
			-ms-transition: display 0.5s ease;
			-o-transition: display 0.5s ease;
			transition: display 0.5s ease;
		}

#spinner-launch {
	position: fixed;
	top: 50%;
	left: 50%;
}

.audio-player-trigger {
	color: darkcyan;
	font-size: 24px;
}
.featured-img-caption {
	color: #aaa;
	text-align: left;
	font-size:12px;
}


.global-audio-player{
	position:fixed;
	bottom:0px;
	width: 100%;
	background-color: white;
	height: 60px;
}
.audio-caption-fixed{
	position: fixed;
	bottom:33px;
	font-size: 12px;
	padding-left: 15px;
	padding-right: 15px;
	width:99%;
	height:25px;
}
.img-gallery-item{
	display: inline-block;
	margin-top: 5px;
}
.gallery-player-trigger{
	font-size:24px;
	color: darkcyan;
	cursor: pointer;
}
#main{
	min-width: 1200px;
}


.gallery-btn{
	margin-bottom: 15px;
}

.pannable{
	cursor: pointer;
}

.tab-content > .active {
	width:80%;
	margin:0 auto;
}

