<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
	    <title>NCBS 25</title>
	    <link rel="icon" href="img/Assets/ncbs_logo_header.png" type="image/png" sizes="16x16">
	    <meta name="description" content="" />
	    <meta name="author" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="css/theme/header.css" />
		<link type="text/css" rel="stylesheet" href="css/theme/main.css">
		<link type="text/css" rel="stylesheet" href="libs/ImageViewer-master/imageviewer.css" />
	</head>
	<style>
	.image-container{
		height:600px;
	}

	.image-container img {
		max-width:100%;
		max-height:auto;
	}
	.nav-tabs > li > a {
		border-radius:0px;
		color: darkcyan;
	}
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus {
		
		color: darkcyan;
		border: 1px solid darkcyan;
		border-bottom: transparent;
		background-color: transparent;
	}
	</style>
	<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<!-- Header from templates/header.html and app.js -->
				<div id="header">
				</div>
			
		</div>
		<div class="row-fluid">
			<div class="">
				<div id="main">
					<div id="content">
					</div>
				</div>
			</div>
		</div>
			
		<div class="row-fluid">
			<div class="col-md-12">
				<!-- footer which is a common navigation to themes-->
				<div id="footer">
				</div>
			</div>
		</div>	

	
	</div>

    <!-- testing components markup  end-->


    <!-- Templates and scripts start -->

   <script type="text/template" id="dummy-view">
   <div class="container" style="background-color:#f4f3e9; height:600px;" id="ncbs-narrative-container">
   <div class="panel panel-default" style="top:150px;position:relative;">
     <div class="panel-body">
     <div class="center-block">
       <h1> Coming soon! </h1>
       </div>
     </div>
   </div>
   
   </div>
   </script>
	    <script type="text/template" id="listItems">
		
			<div class="list-group-item">
				  
					<%if(mime_type == "audio/mpeg"){%> 
						<audio controls="controls" preload="none">
						                  Your browser does not support the <code>audio</code> element.
						                  
						                  <source src=<%= fileurls.original %>>
						                </audio>
						<%}%>
					<%if(mime_type == "image/jpeg"){%>
						<img data-high-res-src= <%= fileurls.fullsize %> src=<%= fileurls.thumbnail%> class="pannable-image"/>
						<%}%>

					<% if(description){%> 
						<p><%= description.text %></p>
					<%}%>
					<% if(rights){%> 
						<p><%= rights.text %></p>
					<%}%>
			</div>
		</script>


<!-- subtheme identity content start-->
<script type="text/template" id="img-slider-template">
<div class="col-md-12">
    <div class="image-container"></div>
    <span class="prev glyphicon glyphicon-chevron-left"/></span>
    <span  class="next glyphicon glyphicon-chevron-right"/></span>
    <div class="footer-info">
        <span class="current"></span>/<span class="total"></span>
    </div>
</div>    
</script>

<script type="text/template" id="sub-theme-nav-tabs">
<div class="container" style="background-color:#f4f3e9;" id="ncbs-narrative-container">

<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style="margin-top:175px">
  <li role="presentation" class="active"><a href="#identity-note" aria-controls="identity-note" role="tab" data-toggle="tab"><img src="img/Assets/identity.png" alt="category_identity" class="img-responsive" style="max-width:15px; display:inline;"/><span>Identity</span></a></li>
    <li role="presentation" ><a href="#space-for-biology" aria-controls="space-for-biology" role="tab" data-toggle="tab">Space for biology</a></li>
    <li role="presentation"><a href="#science-in-india" aria-controls="science-in-india" role="tab" data-toggle="tab">Science in India</a></li>
    <li role="presentation"><a href="#recognition" aria-controls="recognition" role="tab" data-toggle="tab">Recognition</a></li>
    <li role="presentation"><a href="#reflections" aria-controls="reflections" role="tab" data-toggle="tab">Reflections</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="container tab-content">
  <div role="tabpanel" class="tab-pane active" id="identity-note">
  <%= element_texts[1].text %>
  
  </div>
    <div role="tabpanel" class="tab-pane" id="space-for-biology">
    <%= element_texts[2].text %>
    	
    </div>
    <div role="tabpanel" class="tab-pane" id="science-in-india">
    <%= element_texts[3].text %>

</div>
<div role="tabpanel" class="tab-pane" id="recognition">
<%= element_texts[4].text %>
	

</div>
    <div role="tabpanel" class="tab-pane" id="reflections">
    <%= element_texts[5].text %>
    	

    </div>
  </div>

	
</div>
</script>

<!-- subtheme identity content END-->
<!-- testing components end-->

	<script type="text/javascript" src="libs/underscore-1.5.2-min.js"></script>	    
	<script type="text/javascript" src="libs/jquery-1.10.2-min.js"></script>

	<script type="text/javascript" src="libs/backbone-1.1.0-min.js"></script>
	<script type="text/javascript" src="libs/classie.js"></script>
	<script type="text/javascript" src="libs/require.min.js"></script>	    		
	<script type="text/javascript" src="libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="libs/ImageViewer-master/imageviewer.min.js"></script>


	<script type="text/javascript" src="js/views.js"></script>	
	<script type="text/javascript" src="js/router.js"></script>    		
	<script type="text/javascript" src="js/collections.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script>
		app = {};
		app.controller = AppController();
		console.log(app);
		app.init = function() {
			app = new ApplicationRouter();
			app.state={};
			Backbone.history.start();
		};

		//hack - to call init a delay beacause some view components 
		//are undefined in the runtime
		setTimeout(app.init, 1000);
		
	</script>

	

	</body>
</html>