<header>
    <div class="container clearfix">
        <h1 id="logo">
          <a href="#" target="">
            <img src="img/Assets/ncbs_logo_introtext.png" alt="LOGO" />
          </a>
        </h1>
        <nav class="pull-right">
            
                
                  <a href="#about" target="">About</a>
                  <a href="https://www.ncbs.res.in/" target="_blank">NCBS</a>
                  <a href="#" target="/sandbox">Sandbox</a>
            
        </nav>
    </div>
</header><!-- /header -->

