<header>
    <div class="container clearfix">
        <h1 id="logo">
          <a href="#" target="">
            <img src="img/Assets/ncbs_logo_introtext.png" alt="LOGO" />
          </a>
        </h1>
        <nav class="navbar pull-right">
            <ul class="nav navbar-nav navbar-right">
                
                  <li><a href="#about" target="">About</a></li>
                  <li><a href="https://www.ncbs.res.in/" target="_blank">NCBS</a></li>
                  <li><a href="#" target="/sandbox">Sandbox</a></li>
                  <!--li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                             <li><a href="#">Action</a></li>
                             <li><a href="#">Another action</a></li>
                             <li><a href="#">Something else here</a></li>
                             <li role="separator" class="divider"></li>
                             <li><a href="#">Separated link</a></li>
                             <li role="separator" class="divider"></li>
                             <li><a href="#">One more separated link</a></li>
                           </ul>
                         </li-->
                </ul>
            
        </nav>
    </div>
</header><!-- /header -->

