<header>
    <div class="container clearfix" style="width:1200px;">
        <h1 id="logo">
          <a href="#" target="">
            <img src="img/Assets/ncbs_logo_introtext.png" alt="LOGO" />
          </a>
        </h1>
        <nav class=" pull-right" style="">
            <ul class="nav navbar-nav navbar-right">
                </ul>
                  <a href="#about" target="">About</a>
                  <a href="https://www.ncbs.res.in/" target="_blank">NCBS</a>
                  
            
        </nav>
    </div>
</header><!-- /header -->
<ul class="nav nabar-nav" style="    position: fixed;
    right: 43px; top:8px; font-weight:600;
    z-index: 1000; ">
      <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white; font-size:18px;">Sandbox <span style="border-top-color:#fff;" class="caret"></span></a>
  <ul class="dropdown-menu" style="background-color:rgba(102, 102, 102, 0.2); color:white; border-radius:0px; margin-top:14px;">
    <li><a href="sandbox/ephemera">Ephemera</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="sandbox/peopleplex">Peopleplex</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="sandbox/space_tour">Space Tour</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="sandbox/timeline">Timeline</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="sandbox/oral_history">Oral History</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="sandbox/mosaic">Mosaic template</a></li>
  </ul>
</li>
<ul>

