<!-- Home page - Banner image-->

<div class="row-fluid">

		<img src="img/2016-TIFR-bird-graffiti_crop6.jpg" 
				class="img-responsive" />
				<div class="col-sm-3">
				<div style="" class="ncbs-home-text" id="ncbs-home-text-collapsible">

					<!--img class="center-block" src="img/Assets/ncbs_logo_introtext.png" /-->
		
				<br/>
					<p style="margin-top:45px;">On Oct 22, 1991, the Department of Atomic Energy sent a letter to the Tata Institute for Fundamental Research. It conveyed the President's sanction for a new biology research centre in Bangalore. Only upon looking back, however, does the letter appear as a bookend of sorts to a decade-plus process.</p>
					<br />
					<p>The National Centre for Biological Sciences (NCBS) completes 25 years this year. The NCBS@25 exhibit is built around seven themes to reflect upon the history of the institution. The themes are given below and are better viewed in sequence. The Sandbox icon on the top leads to a Timeline and other experimental archival tools.</p>
					<br />
					<p>In history-writing, stories sometimes surface by bestowing significance on available material, willing them to become inflection points. For instance, even chipping off a wall, as seen on the right, can take upon an intriguing new life of its own. The themes celebrate such multiple interpretations and bring to light the tapestry of NCBS, weaved by over 70 story tellers. Along with over 600 photographs, official records, letters, and the occasional lab note, they allow a glimpse into a tangled history and unlikely journey. </p>
				</div>
			</div>

	
</div>


 